{:tasks 
 {start-tailwind 
  (shell {:dir "/Users/fay/Desktop/Code/typescript/kiggysite"} 
         "npx tailwindcss -i style.css -o ./src/App.css --watch")
  fmt (shell {:dir "/Users/fay/Desktop/Code/typescript/kiggysite"}
             "npx prettier ./src/**/*.tsx --single-quote --no-config -w --plugin prettier-plugin-tailwindcss")
  build (shell "npm run build")
  send (shell "scp -r /Users/fay/Desktop/Code/typescript/kiggysite/dist 6nosis@kiggyserve.local:/var/www/kiggysite")
  deploy {:depends [build send]}}}