@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: palatino;
    src: url("/Users/fay/Desktop/Code/typescript/kiggysite/public/fonts/Palatino.ttf");
}

body {
    margin: 0;
    padding: 0;
}